html {
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(purple, blue, violet);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('CSSpics/scenerYYYY.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myText {
  font-size: 0.6em;
}

.videoGames {
  height: 200px;
}

a#hobbyLink {
  color:red;
}

.hobby {
  margin-top: 20%;
}

.modal1 {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  box-shadow: 5px 7px #63666A;
  font-size: 1.7em;

}

h1 {
  /* h1 style */

  padding-top: 50px;
}

h1,h2,h3{
  text-align: center;
}

h1,h2,h3{
  color:white;
}


div#demo {
  margin-top: 10%;
  padding-bottom: 20px;
  width: 90%;
  text-align: center;
  left: 6%;
  box-shadow: 0 0 5px 5px red;
}

